<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/main.css">
    <title>SelfBlog</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row bg-dark">
            <div class="col-sm-6 col-2">
                <h1 style="color:white;"><a style="color: white; text-decoration: none;" href="/home-page">Self<span id="my-header" style="color:rgb(53, 198, 255);">Blog</span></a></h1>
               
            </div>
            <div class="col-10 col-sm-6">
                <ul class="nav justify-content-end my-link0">
                    <li class="nav-item">
                        <a class="nav-link"  href="/article/all-article">Artigos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/categories/all-category">Categorias</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"  href="">Categoria</a>
                    </li>
                </ul>
            </div>
        </div>
    </div><br><br>
